   * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --dark-blue: #2E386B;
        --light-blue: #80AEFF;
        --nav-color: #475082;
        --off-white: #f9f9fb;
        --pale-orange: #FFD2A2;
        /* --warm-background: #ffe8d0; */
    }

    body {
        font-size: 16px;
        text-align: center;
        font-family: "Inter", sans-serif;
    }

    section {
        margin: 1rem 0;
    }

    header {
        background-color: var(--nav-color);
        position: sticky;
        top: 0;
        z-index: 1000;
        /* display: flex;
        align-items: center;
        gap: 16px; */
        width: 100%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    ul, li, a {
        display: block;
        color: white;
        padding: 1rem;
        text-decoration: none;
        list-style-type: none;
    }

    .home-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
    }

    .logo {
        height: 60px;
        align-self: center;
        margin-left: 1rem;
    }

    .hotelname {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 3em;
        font-weight: 700;
    }

    h3 {
        color: var(--light-blue);
        font-size: 1.5rem;

    }

    h4 {
        font-size: 1rem;
        padding: 0.5rem;
    }

    p {
        color: white;
        margin: 0 0 1rem 0;
    }

    .peragraph { 
        color: var(--nav-color); 
    }
    
    .hero-img img {
        top: 0;
        width: 100%;
        height: 70vh; 
        object-fit: cover;
    }

    .hotel-info {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }

    .hotel-stars {
        margin-top: 4px;
        font-size: 1.2rem;
        text-align: left;
    }

    .rooms {
        display: flex;
        justify-content: center;
    }

    .rooms img {
        height: 25vh;
        object-fit: cover;
        border-radius: 1rem;
    }

    .dinner-plans img {
        width: 100%;
        height: 40vh; 
        object-fit: cover;
    }

    .features-intro img {
        width: 100%;
        height: 50vh; 
        object-fit: cover;
    }

    .dinner-plans, .features-intro {
        position: relative;
        text-align: center;
    }

    .text-float {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 3rem;
        text-shadow: 0px 0px 6px black;
    }

    .loyalty-promo {
        /* background: rgb(255, 196, 130); */
        background-color: var(--pale-orange);

        padding: 20px; 
        text-align: center; 
        /* border: 2px solid var(--nav-color);  */
        margin: 20px 0;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    }

    .title {
        top: 40%;
    }

    .link-fetures-img {
        padding: 0;
    }

    
    footer {
        /* position: fixed; */
        background-color: var(--nav-color);
        width: 100%;
        /* height: 12em; */
        color: white;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .footer_right {
        list-style: none;
    }
