   * {
        margin: 0;
        box-sizing: border-box;
    }

    body {
        font-size: 16px;
        text-align: center;
        background-color: white;
        font-family: "Inter", sans-serif;
    }

    .home {
        justify-content: left;
    }

    .nav_right {
        list-style-type: none;
        height: 56px;
        margin: 0;
        padding: 0 1.2em 0 0;
        background-color: #1C3A57;
        display: flex;
        justify-content: right;
    }

    ul li a {
        display: block;
        color: white;
        padding: 18px;
        text-decoration: none;
    }

    ul li a:hover {
        background-color:rgb(18, 37, 55);
        height: 100%;
    }

    .search_bar {
        border-radius: 20px;
        padding: 0.5em;
        margin: 0.8em;
        width: 15rem;
        border: 2px solid rgb(18, 37, 55);
    }

    .header_img {
        position: relative;
    }

    .img_faded {
        opacity: 0.7;
        object-fit: cover;
        max-width: 100%;
        height: 900px;
    }

    h1 {
        font-size: 3em;
        font-weight: 700;
    

    }

    footer {
        background-color: #1C3A57;
        width: 100%;
        height: 12em;
        color: white;
    }

    .footer_right {
        list-style: none;
    }
