   * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --bg-color: #2E386B;
        --light-blue: #80AEFF;
        --nav-color: #475082;
    }

    body {
        font-size: 16px;
        text-align: center;
        background-color: white;
        font-family: "Inter", sans-serif;
    }

    section {
        margin: 1rem 0;
    }

    nav {
        background-color: var(--nav-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    ul, li, a {
        display: block;
        color: white;
        padding: 1rem;
        text-decoration: none;
        list-style-type: none;
    }

    .logo {
        height: 5vw;
    }

    .hotelname {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 3em;
        font-weight: 700;
    

    }
    
    .hero-img img {
        width: 100%;
        height: 20vh; 
        object-fit: cover;
    }

    .rooms {
        display: flex;
        justify-content: space-evenly;
    }

    .rooms img {
        height: 20vh; 
        object-fit: cover;
    }

    .dinner-plans img {
        width: 100%;
        height: 40vh; 
        object-fit: cover;
    }

    .activities img {
        width: 100%;
        height: 40vh; 
        object-fit: cover;
    }

    .dinner-plans, .activities {
        position: relative;
        text-align: center;
    }

    .text-float {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 3rem;
        text-shadow: 0px 0px 6px black;
    }

    footer {
        /* position: fixed; */
        background-color: var(--nav-color);
        width: 100%;
        /* height: 12em; */
        color: white;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .footer_right {
        list-style: none;
    }
